html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Merriweather, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}


body {
  background-color: #d05c2e;
  margin: 0;
}

div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

h1 {
  color: #fff;
  font-size: 2rem;
}

.grain {
  width: 40px;
}

a {
  color: #fff;
  text-decoration: none;
  font-size: 1.125rem;
  padding: .5em 0;
  display: block;
  text-align: center;
}

a:hover {
  background-color: #a63f38;
}

.links {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
}

.btn {
  border: 1px solid #a63f38;
  width: 33.333%;
}
